<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Database - Hotel</title>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:300,400,700|Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css2/styles-merged.css">
    <link rel="stylesheet" href="/stylesheets/css2/style.min.css">
    <link rel="stylesheet" href="/stylesheets/css2/custom.css">
    <link rel="stylesheet" href="/stylesheets/css2/style.css">
    <link rel="stylesheet" href="/stylesheets/css2/review_css/review.css">
    <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv.min.js"></script>
    <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<% include ./uppermenu_header.ejs %>

<section class="probootstrap-slider flexslider probootstrap-inner">
    <ul class="slides">
        <li style="background-image: url(img/slider_1.jpg);" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="probootstrap-slider-text text-center">
                            <p><img src="img/curve_white.svg" class="seperator probootstrap-animate" alt="Free HTML5 Bootstrap Template"></p>
                            <h1 class="probootstrap-heading probootstrap-animate">Welcome to our hotel</h1>
                            <div class="probootstrap-animate probootstrap-sub-wrap">Please enter your email and password <p/> If you become a member of our hotel, you can receive various services and benefits</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>

<section class="probootstrap-section" style="padding-top: 0px; padding-bottom: 10px;">
    <h2 style="text-align: left; margin-left: 10%;">Review</h2>
    <div class="container">
        <button type="WRITE" class="btn btn-primary btn-lg" style="float: right;"data-toggle="collapse" href="#writing">WRITE</button>
    </div>
    <div id="writing" class="collapse">
        <form method="post" action="/#" class="probootstrap-form">
            <div class="row">
                <div class="col-sm-4 form-group" style="margin-left:10%; margin-bottom:-3%">
                    <input type="text" name='content_title' placeholder="Title" class="form-control">
                </div>
                <div id="writing" class="rating">
                    <input type="radio" name="rating" value="5" id="5">
                    <label for="5">☆</label>
                    <input type="radio" name="rating" vaflue="4" id="4">
                    <label for="4">☆</label>
                    <input type="radio" name="rating" value="3" id="3">
                    <label for="3">☆</label> 
                    <input type="radio" name="rating" value="2" id="2">
                    <label for="2">☆</label>
                    <input type="radio" name="rating" value="1" id="1">
                    <label for="1">☆</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9" style="margin-left:10%">
                    <textarea name='content' placeholder="리뷰 찌끄려봐라" rows="7" class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-lg" value="Submit" style="margin-top: 7%;">
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <hr style="border: solid 0.5px">
        <% for (var review of reviewData) { %>
        <div class="row">
            <div class="probootstrap-gutter40">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="review-block-name"><a href="#"><%= review.LOGIN_ID %></a></div>
                        <div class="review-block-date"><%= review.DATE %></div>
                        <div class="review-block-room"><%= review.ROOM_TYPE %></div>
                        <div class="rating-selected">
                            <% var i = review.STAR_PORINT %>
                            <%  if (i == 1) { %>
                                    <div>★☆☆☆☆</div>
                            <% } else if (i==2) { %>
                                <div>★★☆☆☆</div>
                            <% } else if (i==3) { %>
                                <div>★★★☆☆</div>
                            <% } else if (i==4) { %>
                                <div>★★★★☆</div>
                            <% } else { %>
                                <div>★★★★★</div>
                            <% } %>
        <!--                    for문으로 짜니 계속 별이 줄띄움이 돼서 나와..-->


                        </div>
                    </div>

                <div class="col-sm-9">
                    <div class="review-block-title"><%= review.TITLE %></div>
                    <div class="review-block-description"><%= review.CONTENT %></div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <% } %>
</section>

<section class="probootstrap-half">
    <div class="image" style="background-image: url(img/slider_2.jpg);"></div>
    <div class="text">
        <div class="probootstrap-animate fadeInUp probootstrap-animated">
            <h2 class="mt0">Best 5 Star hotel</h2>
            <p><img src="img/curve_white.svg" class="seperator" alt="Free HTML5 Bootstrap Template"></p>
            <div class="row">
                <div class="col-md-6">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
                <div class="col-md-6">
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
            </div>
            <p><a href="#" class="link-with-icon white">Learn More <i class=" icon-chevron-right"></i></a></p>
        </div>
    </div>
</section>

<% include ./footer.ejs %>

<script src="js/scripts.min.js"></script>
<script src="js/main.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>